body {
    margin: 0;
    background: #000000;
    font: 13px/1.3 "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.YDC-Header,
#Lead-0-Ad-Proxy,
#Lead-2-FeatureBar-Proxy,
#mrt-node-Lead-1-FinanceHeader,
#Lead-3-Portfolios-Proxy > main > header,
#Lead-3-Portfolios-Proxy > main > div > section,
#Lead-3-Portfolios-Proxy > main > div > div > div.Mb\(15px\) {
    display:none !important;;
}

#atomic .Bgc\(\$extraLightBlue\)\:h:hover {
    background-color: #222;
    color:#fff;
    border-color:#2591f9;
}

.simpTblRow:hover .simpTblRow\:h_Bgc\(\$extraLightBlue\) {
    background-color: #222 !important;
}
#atomic .V\(h\) {
    visibility: hidden;
    display: none;
}

#atomic .Pend\(20px\),#atomic .Pend\(navPaddings\),#atomic .Px\(20px\),#atomic .Px\(20px\)--tab1024px,#atomic .Px\(navPaddings\) {
    padding:0px;
}

body,mark {
    color: #b9bdc5
}

:link,:visited {
    color: #b9bdc5;
}

#atomic .Va\(tb\) {
    vertical-align: text-bottom;
    display: none;
}

#atomic .C\(\$c-fuji-grey-j\),#atomic .C\(\$finDarkGray\),#atomic .C\(\$secondaryColor\) {
    color: #ccc;
}

#atomic .Bgc\(\$layoutBgColor\)\!,#atomic .Bgc\(\$lv3BgColor\)\! {
    background-color: #000000!important;
}

.selected-sub .selected-sub_Bgc\(\$navSelectedBlue\),.Selected .Selected_Bgc\(\$navSelectedBlue\),.selected .selected_Bgc\(\$navSelectedBlue\) {
    background-color: #000000!important;
}

#atomic .C\(black\)\!,.selected-sub .selected-sub_C\(black\),.selected .selected_C\(black\),.Selected .Selected_C\(black\) {
    color: #b9bdc5!important;
}


#atomic .Bgc\(\$bgTile\),#atomic .Bgc\(\$layoutBgColor\),#atomic .Bgc\(\$lv2BgColor\),#atomic .Bgc\(\$lv3BgColor\) {
    background-color: #000000
}

#atomic .Bgc\(white\) {
    background-color: #000000;
}

#atomic .Bgc\(\$altRowColor\),#atomic .Bgc\(\$panelBackground\) {
    background-color: #000000;
}
